.container {
    display: flex;
    flex-direction: row;
}

.column1 {
    background-color: aqua;
    width: 25vw;
    height: 100vh;
    overflow-y: auto;
}

.column2 {
    background-color: blue;
    width: 75vw;
    height: 100vh;
    justify-content: center;
    display: flex;
    align-items: center;


}

.art-image {
    height: 700px;
    width: 700px;
}

.sidebar-item{
    cursor: pointer;
}